
div {
    border: 1px blue solid;
}

section {
    background-color:lightgray;
    padding: 80px 10px;
}

img {
    /* width: 50% */
}

.card {
    width: 250px;
}

.img-card {
    width: 50%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#hero {
    background-image: url('../img/alexander-lemann-qjdx0DytoYs-unsplash.jpeg');
    background-size: cover;
    height: 30vh;
    text-align: center;
}