* {
    font-family: 'Exo 2', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', sans-serif;
    margin: 10px 0;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size:3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}


p {
    color: rgb(65, 6, 242);
}

div {
    border: 1px #333 solid;
}

section {
    background-color: rgb(252, 198, 192);
    padding: 80px 10px;
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 36px;
}

footer {
    justify-content: space-evenly;
    padding: 40px;
}

img {
    /* width: 50% */
}

video {
    width: 100%
}

/* INPUT */

input { 
    padding: 16px 24px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid grey;
}

input:focus {
    background-color: lightpink
}

/* Forms */

input[type=text] { 
   box-sizing: border-box;
   background-image: url('../icons/user-line.png');
   background-repeat: no-repeat;
   background-position: 8px;
   padding-left: 40px;
   width: 77%;
}

input[type=email] {
    box-sizing: border-box;
    background-image: url('../icons/mail-line.png');
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 40px;
    width: 77%;
}

textarea {
    box-sizing: border-box;
    width: 80%;
    height: 150px;
    padding: 16px 24px;
    margin: 8px O;
    border-radius: 5px;
    border: 1px solid grey;
    resize: none;
}

input[type=submit]{
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    width: 90%;
}

#btn-form {
    width: 90%;
}

/* LINKS */
a:link, a:visited {
    text-decoration: none;
    color: lightseagreen;
    padding: 10px;
}

a:hover {
    color: midnightblue;
}

a:active {
    color: olive
}

/* CTA Button */
a.cta-button:link, a.cta-button:visited {
    background-color: orangered;
    border-radius: 8px;
    color: whitesmoke;
    padding: 16px 24px;
}

a.cta-button:hover {
    background-color: tomato;
}

a.cta-button:active {
    background-color: darkred;
}

/* CV Download Button */
a.cv-button:link, a.cv-button:visited {
    background-color: orangered;
    border-radius: 8px;
    color: whitesmoke;
    padding: 16px 24px;
}

a.cv-button:hover {
    background-color: tomato;
}

a.cv-button:active {
    background-color: darkred;
}

a.btn-rocio {
    font-family: 'Poppins', sans-serif;
    color: #131045;
    background-color: white;
    border: 3px solid #131045;
    padding: 10px 20px;
    box-shadow: 4px 4px 0 #131045;
    border-radius: 100px ;
}


/* . for class */

.card {
    width: 250px;
}

.div-contact {
    flex: 1;
}

.img-holder {
    position: relative;
    height: 180px;
    width: 100%;
    overflow: hidden; /* overflow:hidden crops the image */
}


.img-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 20px;
}

.icons {
    font-size: 24px;
}

.container {
    display: flex;
}

.center-flex {
    align-items: center;
    justify-content: center;
}

.author-card {
    align-items: center;
}

.author-photo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.feat-card {

}

.feat-item {
    flex-grow: 1;
}




/* # for id */

#hero {
    background-image: url('../img/pomgranade\ and\ citrus.jpeg');
    background-size: cover;
    height: 30vh;
    text-align: center;
}

#hero div {
    padding: 20px;
}

#articles {
    justify-content: space-around;
}

#contact {
    justify-content: space-around;
    background-color: rgb(242, 181, 242);
}

#contact div {
    padding: 20px
}

#video {
    padding: 0; 
}
 

/* #hero div h3 {
    background-color: yellow;
} */

